.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.memory_container {
  width: 100%;
  height: 100vh;
  background-image: url("./images/backgrounds/back2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav > h5 {
  padding: 0.2rem;
  margin: 1rem;
}

button {
  height: 3rem;
  outline: none;
  border: none;
  background: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
  padding: 0.2rem 3rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem 4rem;
}

button:hover {
  background: lightcoral;
}

.footer {
  width: 100%;
  height: 100vh;
  background-image: url("./images/backgrounds/footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  button {
    font-size: 1rem;
    border-radius: 1rem;
    margin: 1rem 2rem;
    padding: 2rem;
  }
}
